.album_cover{
	width: 100%;
	border: 20px;
}
.crop-img{
  max-height:260px;
  max-width:100%;
  margin-bottom: 20px;
}
.large-img{
  max-width:100%;
  margin-top: 10px;
}


.footer {
  position: absolute;
  margin-left: 30%;
  bottom: 0;  
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
}



